
body{
    background-color: #bbbbbb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.encabezado{

    height: 2cm;
}


header {
    background-color: #6f1472;
    padding: 70px 0;
    font-size: 2em;
    margin: 0 auto;
    
}

.titular{

    text-align: center;
}


.titulo{

    font-size: 2em;
    text-align: center;
    padding: 30px 0;
}

.yo{
    
    display: flex;
    width: 100%;
    padding: 0 ;
    height: 2cm;
    font-size: 2em;
    background: black;
    color: white;
    
    

}
.redes{

    display: inline;
    top: 0;    
    right: 0;
    
}

nav{
    position: absolute;
    top: 40px;
    right: 0;
}

nav li{
   display: inline;
   margin: 0 15px;

}


nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;

}

.biografia{
    background: linear-gradient(#f9fcfc, #bbbbbb);
    font-size: 1.25em;


}

.biografia.p{

    
    font-size: 1em;
}

.pasatiempo{

    width: 100%;

}



.trabajos{

    display: flex;
    background-color: white;
    padding: 5px 10px 5px 10px;
    
        
}

.contenedor{
    margin: 20px 60px 20px 30px; 
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(16, 12, 224);
    border-top-left-radius: 20px ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;

}

.contenedor2{

    text-align: center;
    margin: 20px 20px 20px 80px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid red;
    border-top-left-radius: 20px ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;

}


.boton{

    vertical-align: top;
    width: 20%;
    padding: 15px 0;
    font-weight: bold;
    color: white;
    background: rgb(30, 30, 163);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}  




.titulos-seg{
   
    text-align: center;
    padding: 1em 0;
    font-size: 32px;
    

}

.formacion{

    margin: 20px;
    text-align: center;

}

.facultades{

    padding: 0 20px;
}

p{

    padding: 18px 0;
    
}

.cursos{

    height: auto;
 
}

.listadecursos{

    width: 100%;
    text-align: center;
    background: #ffffff;
    
}

.items{

    margin: 25px;
    padding: 20px;
}   


.rodapie{

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    

    
    }

.rodapie.contacto{

    vertical-align: top;
}




